.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

*{
  box-sizing: border-box;
  font-family: "Proximanova Regular";
  font-size: 16px;
}

@font-face {
  font-family: "Proximanova Light";
  src: url("../fonts/proximanova-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proximanova Regular";
  src: url("../fonts/proximanova-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proximanova SemiBold";
  src: url("../fonts/proximanova-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proximanova Bold";
  src: url("../fonts/proximanova-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proximanova ExtraBold";
  src: url("../fonts/proximanova-extrabld.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proximanova Condensed ExtraBold";
  src: url("../fonts/proximanova-condensed-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  background-image: url(../img/bg-euros.png);
/*wenn wir scrollen abstellen wollen*/
overflow: hidden;
 
}

/*Federal States*/

.background {
  fill: none;
  stroke-width: 3.5px;
  pointer-events: all;
}

#states {
  stroke: white;
  stroke-width: 0px;
}

.bundesland{
  shape-rendering: crispEdges;
}

.bundesland:hover{
  stroke: white;
  stroke-linejoin: bevel;
  stroke-width: 2px;
  filter: brightness(1.1);
}

#states .active {
  stroke: #BCCEF8;
  stroke-linejoin: bevel;
  stroke-width: 3.5px;
  filter: brightness(1.1);
}

.graticuleLine {
  fill: none;
  stroke: none;
}

.mouseoverBox{
  position: absolute;
  pointer-events: none;
  display: none;
  width: auto;
  height: auto;
  background-color: white;
  box-shadow: 0px 1px 4px lightgrey;
  border-radius: 15px;
  -webkit-animation:fadeIn 0.7s;
  animation: fadeIn 0.7s;

}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.heatmap-container{
  position: relative;
}

.heatmap-section {
  width:760px; 
  height: 550px; 
  margin-top: -50px;
}

#BAYERN-Mouseover{
  left: 480px;
  top: 620px;
}
#BADEN-WÜTTEMBERG-Mouseover{
  left: 400px;
  top: 650px;
}
#SACHSEN-Mouseover{
  left: 510px;
  top: 500px;
}
#THÜRINGEN-Mouseover{
  left: 460px;
  top: 520px;
}
#RHEINLAND-PFALZ-Mouseover{
  left: 310px;
  top: 570px;
}
#SAARLAND-Mouseover{
  left: 280px;
  top: 590px;
}
#HESSEN-Mouseover{
  left: 400px;
  top: 520px;
}
#SACHSEN-ANHALT-Mouseover{
  left: 470px;
  top: 420px;
}
#BRANDENBURG-Mouseover{
  left: 510px;
  top: 360px;
}
#BERLIN-Mouseover{
  left: 510px;
  top: 390px;
}
#MECKLENBURG-VORPOMMERN-Mouseover{
  left: 510px;
  top: 330px;
}
#SCHLESWIG-HOLSTEIN-Mouseover{
  left: 420px;
  top: 320px;
}
#HAMBURG-Mouseover{
  left: 420px;
  top: 325px;
}
#NIEDERSACHSEN-Mouseover{
  left: 400px;
  top: 400px;
}
#BREMEN-Mouseover{
  left: 365px;
  top: 357px;
}
#NORDRHEIN-WESTFALEN-Mouseover{
  left: 350px;
  top: 450px;
}

.revenue-reduction-state-name{
  padding: 15px 10px 0px 10px;
  font-size: 17px;
  font-family: Proximanova SemiBold;
  margin: 0px;
}
.revenue-reduction-state-signature{
  font-family: Proximanova Regular;
  font-style: italic;
  font-size: 15px;
  padding: 0px 10px 5px 10px;
  margin: 0px;
}
.revenue-reduction-description-one,.revenue-reduction-description-two {
  font-family: Proximanova Light;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 10px 0px 10px;
}
.revenue-reduction-description-two {
  padding-bottom: 15px;
}

#Hessen{
  fill: #CDA1AB;
}
#Brandenburg{
  fill: #B77F89;
}
#Niedersachen{
  fill: #B4727F;
}
#Thüringen{
  fill: #C18B96;
}
#Saarland{
  fill: #9F4F5E;
}
#Sachsen-Anhalt{
  fill: #E8D0D4;
}
#Schleswig-Holstein{
  fill: #DAB9C0;
}
#Nordrhein-Westfalen{
  fill: #DAB9C0;
}
#Niedersachsen{
  fill: #B4727F;
}
#Baden-Württemberg{
  fill: #C698A1;
}
#Rheinland-Pfalz{
  fill: #B77F89;
}
#Bayern{
  fill: #8F3748;
}
#Sachsen{
  fill: #A75B68;
}
#Berlin{
  fill: #8A2A3E;
}
#Mecklenburg-Vorpommern{
  fill: #9F4F5E;
}
#Hamburg{
fill: #8A2A3E;
}
#Bremen{
  fill: #8A2A3E;
}

/*Federal States End*/

.ranking-area {
  overflow-y: scroll;
  height: 100px;
  resize: none; /* Remove this if you want the user to resize the textarea */
}

html{
  font-size: 16px;
}

#hint {
  color: grey; 
  text-align: center; 
  text-decoration: underline;
}

/*Abtrennungslinie unter Überschriften*/
.hr-line{
  margin-top: 4px;
  margin-bottom: 24px; 
  width:100%; 
  border-radius: 5px; 
  height:1px; 
  background-color:#E1E1E1; 
  padding-right:5%;
}

/*LEGENDE*/

.legende {
  margin-top:50px;
}

.legend-position {
  margin-right: 20px; 
  display: inline-block;
}

.legend-color {
  margin-right:8px; 
  position: relative;
  display: inline-block;
  width:15px; 
  height:15px;
  margin-bottom:-2px;
  border:1px solid #222222;
  margin-top:10px;
}

#first {
  background-color:#9F4F5E; 
}

#second {
  background-color:#B4727F;
}

#third {
  background-color:#B77F89;
}

#fourth {
  background-color:#CDA1AB;
}

#fifth {
  background-color: #E8D0D4;
}

section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/** GRID-SYSTEME **/

.container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 16px;
}

.row::after{
  content: "";
  clear: both;
  display: block;
}

[class*="col-"]{
  min-height: 1px;
  float: left;
  /*padding: 0.8rem;*/
  padding-bottom: 0.6rem;
}

.col-1{
  width: 16.666%;
}

p {
}

#paragraph {
  margin-top: 0;
  margin-bottom: 10px;
}

.col-2{
  width: 33.333%;
}

.col-3{
  width: 50%;
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
  padding-bottom: 1.8rem !important;
  margin-bottom: 20px;
}

.col-4{
  width: 66.666%;
}

.col-6{
  width: 100%;
}

/*Fügt den Cardstil zu der rechten Spalte z.B. hinzu inkl. Hover*/
#card-style {
  background-color: white; 
  border: 1px solid white; 
  border-radius: 15px; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#card-style:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*für H1 Überschrift*/
.card {  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white; 
  border: 1px solid white; border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* HEADINGS */
i {
  font-size: 16px; 
  text-align: center;
}

h1 {
  color: #222222;
  font-size: 24px !important;
  font-family: "Proximanova Condensed ExtraBold";
}

h2 {
  font-size: 20px;
  color: #222222;
  font-family: "Proximanova Condensed ExtraBold";

}

/*Fügt den H2-Überschriften spezielle Eigenschaften hinzu, 
jedoch NICHT den H2-Überschriften innerhalb der Heatmap!*/
#unterueberschrift {
  margin-bottom: 6x;
}

/*H1-Überschrift*/
#mainheading {
  padding-left: 20px; 
}

h3 {
  font-family: "Proximanova ExtraBold";
}

/*Überschrift rechts in Blau*/
.right {
 display: inline-block;
  float: right;
  color: #2798E9;
  font-size: 20px;
  font-family: "Proximanova Condensed ExtraBold";
margin-top: 5px;
}

/*Buttons*/
.button-rund {
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style:none;
  position:relative;
  top:20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.40);
}

.button-rund:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.40);
  background-color:#F8F8F8;
}

#reset {
  align-items: right;
  float:right;
  font-size: 12px;
}

button:active {
  background-color: darkgrey;; 
  color: white;
}

/*HOVER - funktioniert noch nicht*/
input[type=radio]+label:hover:before {
  background-image: none;
  background-color:#339DFF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 170px;
	margin-right: 20px;
  /*margin-left: 20px;*/
  text-align: center;
  line-height: 38px;
  margin-right: 20px;
  margin-left: 10px;
  text-align: center;
  line-height: 38px;
  padding-right: 30px;

}
input[type=radio]:before {
  background-image: none;
  background-color:#339DFF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 170px;
	margin-right: 20px;
  /*margin-left: 20px;*/
  text-align: center;
  line-height: 38px;
  margin-right: 20px;
  margin-left: 10px;
  text-align: center;
  line-height: 38px;
  padding-right: 30px;
}
input[type=radio]:checked:before {
  background-image: none;
  background-color:#339DFF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 170px;
	margin-right: 20px;
  /*margin-left: 20px;*/
  text-align: center;
  line-height: 38px;
  margin-right: 20px;
  margin-left: 10px;
  text-align: center;
  line-height: 38px;
  padding-right: 30px;
}

/* Verstecken des Radio Buttons */
input[type=radio] {
  display:none; 
}

/*Labels Radio Button */
input[type=radio] + label {
  display:inline-block;
  margin:-2px;
  padding: 4px 12px;
  border-color: #ddd;
  background: #fff;
  color: #339DFF;
  padding: 5px;
  border-radius: 5px;
  width: 170px;
	margin-right: 20px;
  margin-left: 0px;
  text-align: center;
  line-height: 38px;
  padding-right: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Checked Status */
input[type=radio]:checked + label { 
 background-image: none;
  background-color:#339DFF;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 170px;
	margin-right: 20px;
  /*margin-left: 20px;*/
  text-align: center;
  line-height: 38px;
  margin-left: 0px;
  text-align: center;
  line-height: 38px;
  padding-right: 25px;
  text-align:center;
}